<table id="tab-contact"
       class="sidebox">

  <tr>
    <th>
      $strings.contactbox.subtitles.phone$
    </th>
    <td>$strings.contact.phone$</td>
  </tr>

  <tr>
    <th>
      $strings.contactbox.subtitles.email$
    </th>
    <td>$strings.contact.email$</td>
  </tr>

  $if(strings.contact.git-txt)$
  <tr>
    <th>
      $strings.contactbox.subtitles.git$
    </th>
    <td>
      $if(strings.contact.git-url)$
      <a href="$strings.contact.git-url$">
      $endif$
      $strings.contact.git-txt$
      $if(strings.contact.git-url)$
      </a>
      $endif$
    </td>
  </tr>
  $endif$

  <tr>
    <th>
      $strings.contactbox.subtitles.location$
    </th>
    <td>
      $strings.contact.location$
    </td>	    
  </tr>
</table>
