/*
    Copyright (c) 2021 Filberg <https://www.filberg.eu>

    This file is part of "Filberg's CV template".

    "Filberg's CV template" is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    "Filberg's CV template" is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "Filberg's CV template".
    If not, see <https://www.gnu.org/licenses/>.
*/

html *
{
    font-family: "Lato", "Arial";
    padding: 0;
    margin: 0;
}

body
{
    font-size: 16pt;
}

p
{
    margin: 0 0 0 0;
}

ul
{
    margin-left: 32pt;
}

section.job-sub h4,
section.job-sub h6,
div.page-footer,
div.alternate-version a
{
    color: #707070;
}

#sidebar,
div.topbar
{
    background-color: #8080807C;
}

h1,
h2,
h3,
h5,
label
{
    color: #600020FF;
}

.color-2-bg
{
    background-color: #600020FF;
}

h1,
h2,
h3,
div.page-footer,
label
{
    font-family: "Universalis ADF Std", "Arial";
    font-weight: normal;
    margin-bottom: 2mm;
}

div.page
{
    position: relative;
}

div.page.dummy
{
    position: absolute;
}

div.page-footer
{
    display: none;
}

div.page-numbering
{
    display: inline;
}

#sidebar
{
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    padding: 0 2mm 0 5mm;
    width: 90mm;
    height: 100%;
}

div.topbar, div.topbar.background
{
    z-index: 1;
    position: fixed;
    margin-top: 10mm;
    width: 100%;
    height: 40mm;
    text-align: left;
    padding-top: 5mm;
    vertical-align: middle;
}

div.topbar.background
{
    background-color: white;
}

div.topbar *
{
    padding-left: 100mm;
}

#name
{
    font-size: 250%;
}

#title
{
    color: black;
    font-size: 170%;
}

#logo-box
{
    margin-top: 12mm;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#logo-img
{
    height: 40mm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.buffer-top
{
    height: 70mm;
}

div.sidebox
{
    margin-top: 5mm;
    margin-bottom: 7mm;
}

#sideboxes
{
    margin-top: 12mm;
}

a
{
    color: black;
    background-image: url(../img/external-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15px;
}

div.sidebox a
{
    padding-right: 13px;
}

div.sidebox label
{
    margin-bottom: 0;
}

div.sidebox p
{
    margin-top: 1mm;
}

p.sidebox-subtitle
{
    padding-top: 1mm;
    font-weight: bold;
}

table.sidebox
{
    margin: 0;
    padding: 0;
    width: 100%;
}

table.sidebox *
{
    border: 0;
    padding: 0;
    padding: 1mm 0 1mm 0;
    border-collapse: collapse;
}

table.sidebox th
{
    border-right: 1px solid black;
    text-align: right;
    width: 20%;
    padding-right: 1mm;

}

table.sidebox td
{
    padding-left: 1mm;
}

div.mainarea
{
    max-width: 70ch;
    padding: 12mm 12mm 12mm 12mm;
    text-align: justify;
    margin-left: 100mm;
}

div.mainarea h2
{
    text-align: center;
    margin-bottom: 15mm;
}

div.mainarea .history
{
    margin-top: 5mm;
}

div.summary-sub
{
    margin-bottom: 3mm;
}

section.job h3
{
    font-weight: bold;
    margin: 20mm 0 1mm 0;
}

section.job-sub h3
{
    font-weight: bold;
    margin: 20mm 0 1mm 0;
}

section.job-sub h4,
{
    margin: 1mm 0 1mm 0;
    font-style: italic;
    font-weight: bold;
}

section.job-sub h6:before
{
    content: " ~ ";
}

section.job-sub h6
{
    font-size: 80%;
    font-style: italic;
}

section.job-sub h6:after
{
    content: " ~ ";
}

div.job-parallel h4 + p,
div.job-parallel h6 + p
{
    margin-top: 1mm;
    border-top: 1px solid #600020FF;
    padding-top: 1mm;
}

section.job h5
{
    margin: 4mm 0 1mm 0;
}

section.job p
{
    margin-top: 1pt;
}

section.job-sub
{
    margin-bottom: 5mm;
}

span.keyword
{
    font-weight: bold;
}

h5 
{
    font-weight: bold;
    font-size: 100%;
}

li
{
    margin-top: 2mm;
}

div.footnotes
{
    margin-top: 10mm;
    border: 1px solid gray;
    color: #3F3F3FFF;
    font-size: 80%;
    font-style: italic;
    vertical-align: bottom;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

/* Foldable sidebar menus */

label.sidebox
{
    font-size: 150%;
    cursor: pointer;
    background-image: url(../img/expand.svg);
    background-size: 0.7em;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1em;
}

div.sidebox-content
{
    display: none;
}

input.sidebox
{
    visibility: hidden;
    display: none;
}

.chk-indicator.up
{
    display: inline;
}

.chk-indicator.down
{
    display: none;
}

input.sidebox:checked ~ label.sidebox
{
    background-image: url(../img/collapse.svg);
}

input.sidebox:checked ~ div.sidebox-content
{
    display: block;
}

label.sidebox:hover
{
    color: white;
}


/* END Foldable sidebar menus */

@media screen and (max-width: 880px)
{

    body
    {
	font-size: 12pt;
	width: 100%;
	height: 100%;
    }

    div.topbar
    {
	background-color: #C0C0C0;
    }

    div.topbar,
    div.topbar.background
    {
	height: auto;
	z-index: 7;
	position: fixed;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	left: 18mm;
	height: 18mm;
    }

    div.topbar,
    #logo-box
    {
	top: 2mm;
    }

    div.topbar.background
    {
	z-index: 2;
	left: 0;
	top: 0;
	height: 22mm;
    }

    div.topbar *
    {
	padding: 0;
    }

    #sidebar
    {
	z-index: 3;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-y: scroll;
	display: block;
	width: 100%;
	margin-top: 25mm;
	background-color: #C0C0C0;
    }

    #sideboxes
    {
	margin-top: 0;
    }
        
    div.page
    {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
    }

    #name
    {
	font-size: 120%;
    }

    #title
    {
	color: black;
	font-size: 100%;
    }

    #logo-box
    {
	position: fixed;
	width: 18mm;
	height: 18mm;
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
	vertical-align: middle;
    }

    #logo-img
    {
	position: relative;
	margin-top: 1.5mm;
	height: 15mm;
	vertical-align: middle;
    }

    div.buffer-top
    {
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
	display: none;
    }

    label.sidebox
    {
	font-size: 120%;
    }

    div.sidebox
    {
	margin-bottom: 2mm;
	margin-top: 2mm;
	margin-left: 5mm;
    }

    div.sidebox p
    {
	font-size: 80%;
    }

    table.sidebox
    {
	font-size: 80%;
    }

    div.sidebox-content
    {
	padding: 3mm 0 3mm 2mm;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid #600020;
    }
    
    div.mainarea
    {
	display: block;
	margin: 0;
	padding: 5mm 5mm 5mm 5mm;
    }

    div.mainarea h2
    {
	margin-bottom: 7mm;
    }

    h2
    {
	/* compensate for the fixed top bar 
       so that url anchors work nicely */
	margin-top: 0;
	padding-top: 6mm;
    }
    
    h3, h5
    {
	text-align: left;
    }

    ul
    {
	margin-left: 2mm;
    }

    section.job h3
    {
	margin-top: 10mm;
    }
}

.color1
{
    color: #707070;
}

.color1-bg
{
    background-color: #707070;
}

.color2
{
    color: #600020FF;
}

.color2-bg
{
    background-color: #600020FF;
}

div.altvers
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div.alternate-version
{
    z-index: 10;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 90%;
}

