/*
    Copyright (c) 2021 Filberg <https://www.filberg.eu>

    This file is part of "Filberg's CV template".

    "Filberg's CV template" is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    "Filberg's CV template" is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "Filberg's CV template".
    If not, see <https://www.gnu.org/licenses/>.
*/

@page
{
    size: A4;
}

*
{
    box-sizing: border-box;
}

body
{
    font-size: 15pt;
}

div.page,
div.dummypage
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 273mm;
    height: 386.3mm;
}

div.dummypage
{
    position: absolute;
}

div.topbar
{
    position: absolute;
    height: 50mm;
    width: 100%;
}

div.topbar.background
{
    display: none;
    visibility: hidden;
}

#sidebar
{
    position: absolute;
    overflow-y: unset;
    width: 30%;
    height: 100%;
}

div.sidebox-content
{
    display: block;
}

#logo-img
{
    height: 50mm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.buffer-top
{
    height: 0;
    display: none;
}

div.mainarea
{
    margin: 0;
    padding: 0;
    padding-top: 1mm;
    max-width: 250mm;
    margin-left: auto;
    margin-right: auto;
}

div.page1 div.mainarea
{
    width: 56ch;
    position: absolute;
    left: 33%;
    top: 85mm;
}

div.mainarea h2
{
    margin-top: 5mm;
    margin-bottom: 5mm;
}

div.page1 div.mainarea h2
{
    padding-top: 0;
}


section.job-sub h3
{
    margin-top: 5mm;
}

section.job-sub h5
{
    margin-top: 2mm;
    margin-bottom: 2mm;
}

div.sidebox-content
{
    display: block !important;
}

label.sidebox
{
    background-image: none !important;
}

div.page-footer
{
    margin: 0;
    padding: 0;
    display: inherit;
    position: absolute;
    bottom: 7mm;
    right: 0;
    text-align: right;
    font-size: 90%;
    padding-right: 10mm;
}

div.page1.altvers div.mainarea
{
    top: 75mm;
    
}

div.job-parallel
{
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 97%;
}

div.job-parallel-right
{
    border-left: 1px solid #600020FF;
    padding-left: 4mm;
}

div.job-parallel-left
{
    border-right: 1px solid #600020FF;
    padding-right: 4mm;
}

div.job-parallel ul
{
    padding: 0;
    margin: 0;
    margin-left: 3mm;
    list-style: disc;
}

div.job-parallel section.job-sub
{
    margin-bottom: 7mm;
}

div.job-parallel h4
{
    margin-top: 1mm;
}

div.job-parallel h5
{
    font-size: 95%;
}
