/*
    Copyright (c) 2021 Filberg <https://www.filberg.eu>

    This file is part of "Filberg's CV template".

    "Filberg's CV template" is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    "Filberg's CV template" is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "Filberg's CV template".
    If not, see <https://www.gnu.org/licenses/>.
*/

@import "pdf.css";

body
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 12mm;
    width: 273mm;
    height: 386mm;
}

div.page
{
    position: relative;
    border: 1px solid black;
    margin-bottom: 12mm;
}
